.App {
  font-family: "Tahoma", "Geneva", "sans-serif";
  text-align: center;
}
body {
  font-family: "Tahoma", "Geneva", "sans-serif";
  font-size: medium;
  line-height: 1.7em;
  background: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-color: #f5cff2;
}

header {
  font-family: "Courier New", "monospace";
  text-align: center;
  padding: 30px;
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-color: #d1a4b9;
  margin-left: 15px;
  margin-right: 15px;
}
nav {
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  position: sticky;
  top: 0;
  background-color: #b36193;
  position: sticky;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 12px;
}

nav ul li {
  padding: 10px;
  display: inline;
}
.table {
  display: table;
  border-spacing: 15px;
}

.row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}
.overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  transition: opacity 0.2s;
}
.overlay:hover {
  opacity: 0;
  transition: opacity 0.2s;
}

#side {
  width: 1%;
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-color: #bb92b9;
  padding: 15px;
}

video {
  text-align: center;
}

main {
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-color: #976d95;
  font-size: 105%;
  padding: 10px;
}
footer {
  font-family: "Tahoma", "Geneva", "sans-serif";
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-color: #bb92b9;
  text-align: center;
  font-size: 60%;
  margin-left: 15px;
  margin-right: 15px;
}

.drawing {
  background-color: #af83ad;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

#contact {
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-color: #af83ad;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  font-size: 150%;
}

.border {
  border: 5px double #252525;
}

.thumbnail:hover {
  position: relative;
  width: 20em;
  height: auto;
}

#VideoPresentation {
  background: url("https://www.transparenttextures.com/patterns/always-grey.png");
  background-color: #af83ad;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  font-size: 150%;
}
.video {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 100%;
}
